@model HelpingHands.Models.Nurse

@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_Nurse.cshtml";

}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Profile.css" />

    <style>
        
    </style>
</head>

<div class='dashboard-app'>
    <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
    <div class='dashboard-content'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

        <div class="container">
            <div class="main-body">
                <h1>
                    My Profile 
                </h1>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.FirstName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.LastName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Contact Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.ContactNumber
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.EmailAddress
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Id Number </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.IdNumber
                                </div>
                            </div>
                            <hr>
                       
                           
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                <a class="btn btn-info " type="submit " href="~/Nurse/AddNurseDetails">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
